venv
# Ignore virtual environment
venv/
ENV/
env/
*.pyc
__pycache__/

# Ignore audio datasets (HUGE)
data/fma_small/
data/fma_medium/
data/fma_large/
data/raw/
data/spectrograms/
spectrograms/

# Ignore git junk
.git
.gitignore


