# fly.toml app configuration file generated for song-project-red-mountain-9707 on 2025-11-25T22:05:01Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'song-project-red-mountain-9707'
primary_region = 'lhr'

[build]
  dockerfile = 'Dockerfile'

[env]
  STREAMLIT_BROWSER_GATHER_USAGE_STATS = 'false'
  STREAMLIT_SERVER_HEADLESS = 'true'

[http_service]
  internal_port = 8501
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 50
    soft_limit = 40

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '20s'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
